In [41]:
import openai as ai
import psycopg2
from sqlalchemy import create_engine, text, Table, MetaData
import random

#import API key from txt file
with open('openai_api_key.txt', 'r') as file:
    key = file.read().replace('\n', '')

key = key.strip()

"""
Data base project
Car dealership inventory
#Select on all cars under 100,000 miles
"""

'\nData base project\nCar dealership inventory\n#Select on all cars under 100,000 miles\n'

In [42]:
conn_string = "postgresql://tsdbadmin:ugxfwn9i3lrpynao@tixjurgw9x.sifhk26tr7.tsdb.cloud.timescale.com:39457/tsdb?sslmode=require"
engine = create_engine(conn_string)

In [43]:
drop_queries = [
    "DROP TABLE IF EXISTS Vehicle CASCADE;",
    "DROP TABLE IF EXISTS Customer CASCADE;",
    "DROP TABLE IF EXISTS Inventory CASCADE;"
]

with engine.connect() as conn:
  for drop_query in drop_queries:
    conn.execute(text(drop_query))
  conn.commit()

In [44]:
create_table_sql = """

    CREATE TABLE IF NOT EXISTS Vehicle (
        vehicle_id INTEGER PRIMARY KEY,
        year INTEGER NOT NULL,
        make VARCHAR(20) NOT NULL,
        model VARCHAR(20) NOT NULL,
        miles INTEGER NOT NULL,
        price NUMERIC(7, 2) NOT NULL,
        vin VARCHAR(20) UNIQUE NOT NULL
    );

    CREATE TABLE IF NOT EXISTS Inventory (
        inventory_id INTEGER PRIMARY KEY,
        vehicle_id INTEGER NOT NULL,
        status VARCHAR(20) NOT NULL,
        date_added DATE NOT NULL,
        FOREIGN KEY (vehicle_id) REFERENCES Vehicle(vehicle_id) ON DELETE CASCADE
    );

    CREATE TABLE IF NOT EXISTS Customer (
        customer_id INTEGER PRIMARY KEY,
        first_name VARCHAR(50) NOT NULL,
        last_name VARCHAR(50) NOT NULL,
        email VARCHAR(100),
        phone VARCHAR(20)
    );

  """

with engine.connect() as conn:
  conn.execute(text(create_table_sql))
  conn.commit()

In [47]:
customer_data = [
    (1, 'John', 'Doe', 'john.doe@example.com', '555-123-4567'),
    (2, 'Jane', 'Smith', 'jane.smith@example.com', '555-234-5678'),
    (3, 'Michael', 'Johnson', 'michael.johnson@example.com', '555-345-6789'),
    (4, 'Emily', 'Davis', 'emily.davis@example.com', '555-456-7890'),
    (5, 'Daniel', 'Garcia', 'daniel.garcia@example.com', '555-567-8901'),
    (6, 'Sophia', 'Martinez', 'sophia.martinez@example.com', '555-678-9012'),
    (7, 'David', 'Hernandez', 'david.hernandez@example.com', '555-789-0123'),
    (8, 'Olivia', 'Lopez', 'olivia.lopez@example.com', '555-890-1234'),
    (9, 'James', 'Wilson', 'james.wilson@example.com', '555-901-2345'),
    (10, 'Isabella', 'Taylor', 'isabella.taylor@example.com', '555-012-3456')
]



vehicle_data = [
    (1, 2018, 'Toyota', 'Camry', 45000, 18999.99, '1HGCM82633A123456'),
    (2, 2020, 'Honda', 'Civic', 30000, 20999.50, '2HGCM82633A123457'),
    (3, 2019, 'Ford', 'Mustang', 22000, 25999.75, '1FTFW1ET9DF123456'),
    (4, 2021, 'Chevrolet', 'Malibu', 15000, 23499.95, '3GNDA13D76S123456'),
    (5, 2017, 'Nissan', 'Altima', 55000, 17999.99, '1N4AL3AP9DC123456'),
    (6, 2016, 'Hyundai', 'Elantra', 62000, 14999.99, '5NPEB4AC5CH123456'),
    (7, 2022, 'Kia', 'Sorento', 10000, 28999.95, 'KNDPCCA28A1234567'),
    (8, 2015, 'BMW', '3 Series', 72000, 25999.00, 'WBA3B1C53FP123456'),
    (9, 2019, 'Audi', 'A4', 25000, 27999.90, 'WAUZFAFL7DN123456'),
    (10, 2021, 'Mercedes-Benz', 'C-Class', 18000, 36999.99, 'WDDGF81X99F123456'),
    (11, 2018, 'Subaru', 'Outback', 46000, 21999.50, '4S4BRBCC5E1234567'),
    (12, 2020, 'Jeep', 'Wrangler', 31000, 31999.75, '1J4FA49S5YP123456'),
    (13, 2017, 'Mazda', 'CX-5', 52000, 18999.50, 'JM3KE4D73G0123456'),
    (14, 2019, 'Volkswagen', 'Passat', 28000, 23999.95, '1VWBT7A31EC123456'),
    (15, 2016, 'Dodge', 'Charger', 65000, 16999.95, '2C3CDXBG5GH123456'),
    (16, 2018, 'Lexus', 'RX 350', 35000, 33999.50, '2T2BZMCA1GC123456'),
    (17, 2015, 'Chevrolet', 'Equinox', 75000, 15999.75, '2GNALBEK9C1234567'),
    (18, 2021, 'Tesla', 'Model 3', 12000, 44999.99, '5YJ3E1EA3KF123456'),
    (19, 2019, 'Ford', 'F-150', 27000, 28999.90, '1FTEX1E53LFC123456'),
    (20, 2022, 'Honda', 'Accord', 9000, 32999.99, '1HGCV1F3XMA123456')
]


inventory_data = [
    (1, 1, 'Available', '2024-10-01'),
    (2, 11, 'Sold', '2024-09-20'),
    (3, 3, 'Available', '2024-10-02'),
    (4, 4, 'Available', '2024-09-25'),
    (5, 5, 'Available', '2024-10-03'),
    (6, 12, 'Sold', '2024-09-18'),
    (7, 7, 'Available', '2024-10-01'),
    (8, 8, 'Available', '2024-09-29'),
    (9, 9, 'Available', '2024-09-15'),
    (10, 10, 'Available', '2024-10-02'),
    (11, 11, 'Available', '2024-10-04'),
    (12, 2, 'Sold', '2024-09-21'),
    (13, 13, 'Available', '2024-10-05'),
    (14, 14, 'Available', '2024-09-26'),
    (15, 15, 'Available', '2024-10-06'),
    (16, 16, 'Sold', '2024-09-19'),
    (17, 17, 'Available', '2024-10-07'),
    (18, 18, 'Available', '2024-09-30'),
    (19, 19, 'Available', '2024-09-16'),
    (20, 20, 'Available', '2024-10-08'),
    (21, 8, 'Available', '2024-01-01'),
    (22, 19, 'Sold', '2019-05-15'),
    (23, 2, 'Available', '2021-12-25'),
    (24, 7, 'Available', '2020-11-22'),
    (25, 14, 'Sold', '2017-04-13'),
    (26, 13, 'Available', '2015-11-30')
]


# Define the SQL queries for each table
sql_customer_insert = """
INSERT INTO Customer (customer_id, first_name, last_name, email, phone) VALUES (%s, %s, %s, %s, %s)
"""

sql_vehicle_insert = """
INSERT INTO Vehicle (vehicle_id, year, make, model, miles, price, vin) VALUES (%s, %s, %s, %s, %s, %s, %s)
"""

sql_inventory_insert = """
INSERT INTO Inventory (inventory_id, vehicle_id, status, date_added) VALUES (%s, %s, %s, %s)
"""

# Connect to the database and insert the data
with psycopg2.connect(conn_string) as conn:
    cursor = conn.cursor()

    # Insert data into the Person table
    cursor.executemany(sql_customer_insert, customer_data)

    # Insert data into the Teacher table
    cursor.executemany(sql_vehicle_insert, vehicle_data)

    # Insert data into the Student table
    cursor.executemany(sql_inventory_insert, inventory_data)

    # Commit the transaction
    conn.commit()
    blank_customer_data = [(None, None, None, None, None) for _ in range(10)]
    blank_vehicle_data = [(None, None, None, None, None, None, None) for _ in range(10)]
    blank_inventory_data = [(None, None, None, None) for _ in range(10)]

    # Insert data into the Person table
    cursor.executemany(sql_customer_insert, blank_customer_data)

    # Insert data into the Teacher table
    cursor.executemany(sql_vehicle_insert, blank_vehicle_data)

    # Insert data into the Student table
    cursor.executemany(sql_inventory_insert, blank_inventory_data)

    # Commit the transaction
    conn.commit()
    # END: Create blank entries for each table

UniqueViolation: duplicate key value violates unique constraint "customer_pkey"
DETAIL:  Key (customer_id)=(1) already exists.