In [287]:
import openai as ai
import psycopg2
from sqlalchemy import create_engine, text, Table, MetaData
import random
import json
from openai import OpenAI
import os
import sqlite3 
from time import time, sleep


config = json.load(open('config.json'))

openAiClient = OpenAI(
    api_key=config["openai_api_key"],
    organization=config["orgId"]
)

In [288]:
conn_string = "postgresql://tsdbadmin:xqj53zn15ua7becr@kf55n05sdh.sifhk26tr7.tsdb.cloud.timescale.com:31949/tsdb?sslmode=require"
engine = create_engine(conn_string)

In [289]:
drop_queries = [
    "DROP TABLE IF EXISTS Vehicle CASCADE;",
    "DROP TABLE IF EXISTS Customer CASCADE;",
    "DROP TABLE IF EXISTS Inventory CASCADE;"
]

with engine.connect() as conn:
  for drop_query in drop_queries:
    conn.execute(text(drop_query))
  conn.commit()

In [290]:
create_table_sql = """

    CREATE TABLE IF NOT EXISTS Customer (
        customer_id INTEGER PRIMARY KEY,
        first_name VARCHAR(50) NOT NULL,
        last_name VARCHAR(50) NOT NULL,
        email VARCHAR(100),
        phone VARCHAR(20),
        purchase_power NUMERIC(7, 2) DEFAULT 10000.00
    );
    
    CREATE TABLE IF NOT EXISTS Vehicle (
        vehicle_id INTEGER PRIMARY KEY,
        year INTEGER NOT NULL,
        make VARCHAR(20) NOT NULL,
        model VARCHAR(20) NOT NULL,
        miles INTEGER NOT NULL,
        price NUMERIC(7, 2) NOT NULL,
        vin VARCHAR(20) UNIQUE NOT NULL
    );

    CREATE TABLE IF NOT EXISTS Inventory (
        inventory_id INTEGER PRIMARY KEY,
        status VARCHAR(20) NOT NULL,
        date_added DATE NOT NULL,
        FOREIGN KEY (inventory_id) REFERENCES Vehicle(vehicle_id) ON DELETE CASCADE
    );

  """

with engine.connect() as conn:
  conn.execute(text(create_table_sql))
  conn.commit()

In [291]:
customer_data = [
    (1, 'John', 'Doe', 'john.doe@example.com', '555-123-4567', 30000.00),
    (2, 'Jane', 'Smith', 'jane.smith@example.com', '555-234-5678', 45000.00),
    (3, 'Michael', 'Johnson', 'michael.johnson@example.com', '555-345-6789', 60000.00),
    (4, 'Emily', 'Davis', 'emily.davis@example.com', '555-456-7890', 32000.00),
    (5, 'Daniel', 'Garcia', 'daniel.garcia@example.com', '555-567-8901', 20000.00),
    (6, 'Sophia', 'Martinez', 'sophia.martinez@example.com', '555-678-9012', 54000.00),
    (7, 'David', 'Hernandez', 'david.hernandez@example.com', '555-789-0123', 99000.00),
    (8, 'Olivia', 'Lopez', 'olivia.lopez@example.com', '555-890-1234', 63000.00),
    (9, 'James', 'Wilson', 'james.wilson@example.com', '555-901-2345', 25000.00),
    (10, 'Isabella', 'Taylor', 'isabella.taylor@example.com', '555-012-3456', 85000.00)
]

vehicle_data = [
    (1, 2018, 'Toyota', 'Camry', 45000, 18999.99, '1HGCM82633A123456'),
    (2, 2020, 'Honda', 'Civic', 30000, 20999.50, '2HGCM82633A123457'),
    (3, 2019, 'Ford', 'Mustang', 22000, 25999.75, '1FTFW1ET9DF123456'),
    (4, 2021, 'Chevrolet', 'Malibu', 15000, 23499.95, '3GNDA13D76S123456'),
    (5, 2017, 'Nissan', 'Altima', 55000, 17999.99, '1N4AL3AP9DC123456'),
    (6, 2016, 'Hyundai', 'Elantra', 62000, 14999.99, '5NPEB4AC5CH123456'),
    (7, 2022, 'Kia', 'Sorento', 10000, 28999.95, 'KNDPCCA28A1234567'),
    (8, 2015, 'BMW', '3 Series', 72000, 25999.00, 'WBA3B1C53FP123456'),
    (9, 2019, 'Audi', 'A4', 25000, 27999.90, 'WAUZFAFL7DN123456'),
    (10, 2021, 'Mercedes-Benz', 'C-Class', 18000, 36999.99, 'WDDGF81X99F123456'),
    (11, 2018, 'Subaru', 'Outback', 46000, 21999.50, '4S4BRBCC5E1234567'),
    (12, 2020, 'Jeep', 'Wrangler', 31000, 31999.75, '1J4FA49S5YP123456'),
    (13, 2017, 'Mazda', 'CX-5', 52000, 18999.50, 'JM3KE4D73G0123456'),
    (14, 2019, 'Volkswagen', 'Passat', 28000, 23999.95, '1VWBT7A31EC123456'),
    (15, 2016, 'Dodge', 'Charger', 65000, 16999.95, '2C3CDXBG5GH123456'),
    (16, 2018, 'Lexus', 'RX 350', 35000, 33999.50, '2T2BZMCA1GC123456'),
    (17, 2015, 'Chevrolet', 'Equinox', 75000, 15999.75, '2GNALBEK9C1234567'),
    (18, 2021, 'Tesla', 'Model 3', 12000, 44999.99, '5YJ3E1EA3KF123456'),
    (19, 2019, 'Ford', 'F-150', 27000, 28999.90, '1FTEX1E53LFC123456'),
    (20, 2022, 'Honda', 'Accord', 9000, 32999.99, '1HGCV1F3XMA123456'),
    (21, 2024, 'Chevy', 'Corvette', 1000, 72000.99, '2T3DFREV3CW123456')
]

inventory_data = [
    (1, 'Available', '2024-10-01'),
    (2, 'Sold', '2024-09-20'),
    (3, 'Available', '2024-10-02'),
    (4, 'Available', '2024-09-25'),
    (5, 'Available', '2024-10-03'),
    (6, 'Sold', '2024-09-18'),
    (7, 'Available', '2024-10-01'),
    (8, 'Available', '2024-09-29'),
    (9, 'Available', '2024-09-15'),
    (10, 'Available', '2024-10-02'),
    (11, 'Available', '2024-10-04'),
    (12, 'Sold', '2024-09-21'),
    (13, 'Available', '2024-10-05'),
    (14, 'Available', '2024-09-26'),
    (15, 'Available', '2024-10-06'),
    (16, 'Sold', '2024-09-19'),
    (17, 'Available', '2024-10-07'),
    (18, 'Available', '2024-09-30'),
    (19, 'Available', '2024-09-16'),
    (20, 'Available', '2024-10-08'),
    (21, 'Available', '2024-10-08')
]


# Define the SQL queries for each table
sql_customer_insert = """
INSERT INTO Customer (customer_id, first_name, last_name, email, phone, purchase_power) VALUES (%s, %s, %s, %s, %s, %s)
"""

sql_vehicle_insert = """
INSERT INTO Vehicle (vehicle_id, year, make, model, miles, price, vin) VALUES (%s, %s, %s, %s, %s, %s, %s)
"""

sql_inventory_insert = """
INSERT INTO Inventory (inventory_id, status, date_added) VALUES (%s, %s, %s)
"""

# print(customer_data)
# print(vehicle_data)
# print(inventory_data)

# Connect to the database and insert the data
with psycopg2.connect(conn_string) as conn:
    cursor = conn.cursor()

    # Insert data into the Customer table
    cursor.executemany(sql_customer_insert, customer_data)

    # Insert data into the Vehicle table
    cursor.executemany(sql_vehicle_insert, vehicle_data)

    # Insert data into the Inventory table
    cursor.executemany(sql_inventory_insert, inventory_data)

    # Commit the transaction
    conn.commit()

In [292]:
def show_table(table_name):
    select = f"select * from {table_name}"
    with psycopg2.connect(conn_string) as conn:
        cursor = conn.cursor()
        cursor.execute(select)
        results = cursor.fetchall()
        for row in results:
            print(row)

In [293]:
show_table('Inventory')

(1, 'Available', datetime.date(2024, 10, 1))
(2, 'Sold', datetime.date(2024, 9, 20))
(3, 'Available', datetime.date(2024, 10, 2))
(4, 'Available', datetime.date(2024, 9, 25))
(5, 'Available', datetime.date(2024, 10, 3))
(6, 'Sold', datetime.date(2024, 9, 18))
(7, 'Available', datetime.date(2024, 10, 1))
(8, 'Available', datetime.date(2024, 9, 29))
(9, 'Available', datetime.date(2024, 9, 15))
(10, 'Available', datetime.date(2024, 10, 2))
(11, 'Available', datetime.date(2024, 10, 4))
(12, 'Sold', datetime.date(2024, 9, 21))
(13, 'Available', datetime.date(2024, 10, 5))
(14, 'Available', datetime.date(2024, 9, 26))
(15, 'Available', datetime.date(2024, 10, 6))
(16, 'Sold', datetime.date(2024, 9, 19))
(17, 'Available', datetime.date(2024, 10, 7))
(18, 'Available', datetime.date(2024, 9, 30))
(19, 'Available', datetime.date(2024, 9, 16))
(20, 'Available', datetime.date(2024, 10, 8))
(21, 'Available', datetime.date(2024, 10, 8))

In [294]:
#Put this in try block
def runSqlQuery(query):
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        conn.commit()
        return result
    except Exception as e:
        print(f"An error occurred: {e}")
        conn.rollback()
        return None

def getChatGptResponse(content):
    stream = openAiClient.chat.completions.create(
        model="gpt-4o-mini",
        messages=[{"role": "user", "content": content}],
        stream=True,
    )

    responseList = []
    for chunk in stream:
        if chunk.choices[0].delta.content is not None:
            responseList.append(chunk.choices[0].delta.content)

    result = "".join(responseList)
    return result

In [295]:
sqlOnlyRequest = " Give me a postgre select statement that answers the question. Only respond with postgre syntax. If there is an error do not expalin it!"
strategies = {
    "zero_shot" : create_table_sql + sqlOnlyRequest,
    "single_domain_double_shot" : (
        create_table_sql + 
        "\nWhich vehicles are not for sale?" +
        "\nSELECT v.year, v.make, v.model" +
        "\nFROM Vehicle v" +
        "\nINNER JOIN Inventory i ON v.vehicle_id = i.inventory_id" +
        "\nWHERE i.status = 'Sold';" +
        "\n" + sqlOnlyRequest
    )
}

In [296]:
# sql_query = """
# SELECT v.year, v.make, v.model
# FROM Vehicle v
# INNER JOIN Inventory i ON v.vehicle_id = i.inventory_id
# WHERE i.status = 'Sold';
# """

# def fetch_and_display_data(sql_query):
#     with psycopg2.connect(conn_string) as conn:
#         cursor = conn.cursor()
#         cursor.execute(sql_query)
#         results = cursor.fetchall()
#         for row in results:
#             print(row)

# fetch_and_display_data(sql_query)

In [297]:
questions = [
    "Which vehicles are not sold?\n",
    "List the vehicles that were made after 2018?\n",
    "Which vehicles can the customer Sophia Martinez buy with her purchasing power?\n",
    "Which vehicle has the highest price in the inventory?\n",
    "Which customers can purchase a Tesla Model 3?\n"
    # "I need to insert sql into my tables can you provide good unique data?"
]

In [298]:
def sanitizeForJustSql(value):
    gptStartSqlMarker = "```sql"
    gptEndSqlMarker = "```"
    if gptStartSqlMarker in value:
        value = value.split(gptStartSqlMarker)[1]
    if gptEndSqlMarker in value:
        value = value.split(gptEndSqlMarker)[0]

    return value

for strategy in strategies:
    responses = {"strategy": strategy, "prompt_prefix": strategies[strategy]}
    questionResults = []
    for question in questions:
        print(question)
        error = "None"
        try:
            sqlSyntaxResponse = getChatGptResponse(strategies[strategy] + " " + question)
            sqlSyntaxResponse = sanitizeForJustSql(sqlSyntaxResponse)
            print(sqlSyntaxResponse)
            queryRawResponse = str(runSqlQuery(sqlSyntaxResponse))
            print(queryRawResponse)
            friendlyResultsPrompt = "I asked a question \"" + question + "\" and the response was \"" + queryRawResponse + "\" Please, just give a concise response in a more friendly way? Please do not give any other suggestions or chatter."
            friendlyResponse = getChatGptResponse(friendlyResultsPrompt)
            print(friendlyResponse)
        except Exception as err:
            error = str(err)
            print(err)

        questionResults.append({
            "question": question,
            "sql": sqlSyntaxResponse,
            "queryRawResponse": queryRawResponse,
            "friendlyResponse": friendlyResponse,
            "error": error
        })
        sleep(1)

    responses["questionResults"] = questionResults

    with open((f"response_{strategy}_{time()}.json"), "w") as outFile:
        json.dump(responses, outFile, indent=2)

cursor.close()
conn.close()
print("Done!")

Which vehicles are not sold?


SELECT V.*
FROM Vehicle V
LEFT JOIN Inventory I ON V.vehicle_id = I.inventory_id
WHERE I.status IS NULL;

[]
It looks like there are currently no unsold vehicles.
List the vehicles that were made after 2018?


SELECT * FROM Vehicle WHERE year > 2018;

[(2, 2020, 'Honda', 'Civic', 30000, Decimal('20999.50'), '2HGCM82633A123457'), (3, 2019, 'Ford', 'Mustang', 22000, Decimal('25999.75'), '1FTFW1ET9DF123456'), (4, 2021, 'Chevrolet', 'Malibu', 15000, Decimal('23499.95'), '3GNDA13D76S123456'), (7, 2022, 'Kia', 'Sorento', 10000, Decimal('28999.95'), 'KNDPCCA28A1234567'), (9, 2019, 'Audi', 'A4', 25000, Decimal('27999.90'), 'WAUZFAFL7DN123456'), (10, 2021, 'Mercedes-Benz', 'C-Class', 18000, Decimal('36999.99'), 'WDDGF81X99F123456'), (12, 2020, 'Jeep', 'Wrangler', 31000, Decimal('31999.75'), '1J4FA49S5YP123456'), (14, 2019, 'Volkswagen', 'Passat', 28000, Decimal('23999.95'), '1VWBT7A31EC123456'), (18, 2021, 'Tesla', 'Model 3', 12000, Decimal('44999.99'), '5YJ3E1EA3KF123456'), (19, 2019, 'Ford', 'F-150', 27000, Decimal('28999.90'), '1FTEX1E53LFC123456'), (20, 2022, 'Honda', 'Accord', 9000, Decimal('32999.99'), '1HGCV1F3XMA123456'), (21, 2024, 'Chevy', 'Corvette', 1000, Decimal('72000.99'), '2T3DFREV3CW123456')]
Here are the vehicles made after 2018:

1. **2021 Chevrolet Malibu** - $23,499.95
2. **2021 Mercedes-Benz C-Class** - $36,999.99
3. **2021 Tesla Model 3** - $44,999.99
4. **2022 Kia Sorento** - $28,999.95
5. **2022 Honda Accord** - $32,999.99
6. **2024 Chevy Corvette** - $72,000.99
Which vehicles can the customer Sophia Martinez buy with her purchasing power?


SELECT V.*
FROM Vehicle V
JOIN Customer C ON C.purchase_power >= V.price
WHERE C.first_name = 'Sophia' AND C.last_name = 'Martinez';

[(1, 2018, 'Toyota', 'Camry', 45000, Decimal('18999.99'), '1HGCM82633A123456'), (2, 2020, 'Honda', 'Civic', 30000, Decimal('20999.50'), '2HGCM82633A123457'), (3, 2019, 'Ford', 'Mustang', 22000, Decimal('25999.75'), '1FTFW1ET9DF123456'), (4, 2021, 'Chevrolet', 'Malibu', 15000, Decimal('23499.95'), '3GNDA13D76S123456'), (5, 2017, 'Nissan', 'Altima', 55000, Decimal('17999.99'), '1N4AL3AP9DC123456'), (6, 2016, 'Hyundai', 'Elantra', 62000, Decimal('14999.99'), '5NPEB4AC5CH123456'), (7, 2022, 'Kia', 'Sorento', 10000, Decimal('28999.95'), 'KNDPCCA28A1234567'), (8, 2015, 'BMW', '3 Series', 72000, Decimal('25999.00'), 'WBA3B1C53FP123456'), (9, 2019, 'Audi', 'A4', 25000, Decimal('27999.90'), 'WAUZFAFL7DN123456'), (10, 2021, 'Mercedes-Benz', 'C-Class', 18000, Decimal('36999.99'), 'WDDGF81X99F123456'), (11, 2018, 'Subaru', 'Outback', 46000, Decimal('21999.50'), '4S4BRBCC5E1234567'), (12, 2020, 'Jeep', 'Wrangler', 31000, Decimal('31999.75'), '1J4FA49S5YP123456'), (13, 2017, 'Mazda', 'CX-5', 52000, Decimal('18999.50'), 'JM3KE4D73G0123456'), (14, 2019, 'Volkswagen', 'Passat', 28000, Decimal('23999.95'), '1VWBT7A31EC123456'), (15, 2016, 'Dodge', 'Charger', 65000, Decimal('16999.95'), '2C3CDXBG5GH123456'), (16, 2018, 'Lexus', 'RX 350', 35000, Decimal('33999.50'), '2T2BZMCA1GC123456'), (17, 2015, 'Chevrolet', 'Equinox', 75000, Decimal('15999.75'), '2GNALBEK9C1234567'), (18, 2021, 'Tesla', 'Model 3', 12000, Decimal('44999.99'), '5YJ3E1EA3KF123456'), (19, 2019, 'Ford', 'F-150', 27000, Decimal('28999.90'), '1FTEX1E53LFC123456'), (20, 2022, 'Honda', 'Accord', 9000, Decimal('32999.99'), '1HGCV1F3XMA123456')]
Sure! Here are the vehicles Sophia Martinez can buy with her purchasing power:

1. 2018 Toyota Camry - $18,999.99
2. 2020 Honda Civic - $20,999.50
3. 2019 Ford Mustang - $25,999.75
4. 2021 Chevrolet Malibu - $23,499.95
5. 2017 Nissan Altima - $17,999.99
6. 2016 Hyundai Elantra - $14,999.99
7. 2022 Kia Sorento - $28,999.95
8. 2015 BMW 3 Series - $25,999.00
9. 2019 Audi A4 - $27,999.90
10. 2021 Mercedes-Benz C-Class - $36,999.99
11. 2018 Subaru Outback - $21,999.50
12. 2020 Jeep Wrangler - $31,999.75
13. 2017 Mazda CX-5 - $18,999.50
14. 2019 Volkswagen Passat - $23,999.95
15. 2016 Dodge Charger - $16,999.95
16. 2018 Lexus RX 350 - $33,999.50
17. 2015 Chevrolet Equinox - $15,999.75
18. 2021 Tesla Model 3 - $44,999.99
19. 2019 Ford F-150 - $28,999.90
20. 2022 Honda Accord - $32,999.99

Let me know if you need more information!
Which vehicle has the highest price in the inventory?


SELECT V.*
FROM Vehicle V
JOIN Inventory I ON V.vehicle_id = I.inventory_id
ORDER BY V.price DESC
LIMIT 1;

[(21, 2024, 'Chevy', 'Corvette', 1000, Decimal('72000.99'), '2T3DFREV3CW123456')]
The vehicle with the highest price in the inventory is a 2024 Chevy Corvette, priced at $72,000.99.
Which customers can purchase a Tesla Model 3?


SELECT c.first_name, c.last_name, c.email, c.purchase_power
FROM Customer c
JOIN Vehicle v ON v.price <= c.purchase_power
WHERE v.make = 'Tesla' AND v.model = 'Model 3';

[('Jane', 'Smith', 'jane.smith@example.com', Decimal('45000.00')), ('Michael', 'Johnson', 'michael.johnson@example.com', Decimal('60000.00')), ('Sophia', 'Martinez', 'sophia.martinez@example.com', Decimal('54000.00')), ('David', 'Hernandez', 'david.hernandez@example.com', Decimal('99000.00')), ('Olivia', 'Lopez', 'olivia.lopez@example.com', Decimal('63000.00')), ('Isabella', 'Taylor', 'isabella.taylor@example.com', Decimal('85000.00'))]
The customers who can purchase a Tesla Model 3 are:

1. Jane Smith - jane.smith@example.com
2. Michael Johnson - michael.johnson@example.com
3. Sophia Martinez - sophia.martinez@example.com
4. David Hernandez - david.hernandez@example.com
5. Olivia Lopez - olivia.lopez@example.com
6. Isabella Taylor - isabella.taylor@example.com
Which vehicles are not sold?


SELECT v.year, v.make, v.model
FROM Vehicle v
LEFT JOIN Inventory i ON v.vehicle_id = i.inventory_id
WHERE i.status IS NULL OR i.status <> 'Sold';

[(2018, 'Toyota', 'Camry'), (2019, 'Ford', 'Mustang'), (2021, 'Chevrolet', 'Malibu'), (2017, 'Nissan', 'Altima'), (2022, 'Kia', 'Sorento'), (2015, 'BMW', '3 Series'), (2019, 'Audi', 'A4'), (2021, 'Mercedes-Benz', 'C-Class'), (2018, 'Subaru', 'Outback'), (2017, 'Mazda', 'CX-5'), (2019, 'Volkswagen', 'Passat'), (2016, 'Dodge', 'Charger'), (2015, 'Chevrolet', 'Equinox'), (2021, 'Tesla', 'Model 3'), (2019, 'Ford', 'F-150'), (2022, 'Honda', 'Accord'), (2024, 'Chevy', 'Corvette')]
Here are the vehicles that are not sold:

- 2018 Toyota Camry
- 2019 Ford Mustang
- 2021 Chevrolet Malibu
- 2017 Nissan Altima
- 2022 Kia Sorento
- 2015 BMW 3 Series
- 2019 Audi A4
- 2021 Mercedes-Benz C-Class
- 2018 Subaru Outback
- 2017 Mazda CX-5
- 2019 Volkswagen Passat
- 2016 Dodge Charger
- 2015 Chevrolet Equinox
- 2021 Tesla Model 3
- 2019 Ford F-150
- 2022 Honda Accord
- 2024 Chevy Corvette
List the vehicles that were made after 2018?


SELECT v.year, v.make, v.model
FROM Vehicle v
WHERE v.year > 2018;

[(2020, 'Honda', 'Civic'), (2019, 'Ford', 'Mustang'), (2021, 'Chevrolet', 'Malibu'), (2022, 'Kia', 'Sorento'), (2019, 'Audi', 'A4'), (2021, 'Mercedes-Benz', 'C-Class'), (2020, 'Jeep', 'Wrangler'), (2019, 'Volkswagen', 'Passat'), (2021, 'Tesla', 'Model 3'), (2019, 'Ford', 'F-150'), (2022, 'Honda', 'Accord'), (2024, 'Chevy', 'Corvette')]
Here are the vehicles made after 2018:

- 2020: Honda Civic
- 2021: Chevrolet Malibu
- 2021: Mercedes-Benz C-Class
- 2021: Tesla Model 3
- 2022: Kia Sorento
- 2022: Honda Accord
- 2024: Chevy Corvette
Which vehicles can the customer Sophia Martinez buy with her purchasing power?


SELECT v.year, v.make, v.model, v.price
FROM Vehicle v
JOIN Customer c ON c.purchase_power >= v.price
WHERE c.first_name = 'Sophia' AND c.last_name = 'Martinez';

[(2018, 'Toyota', 'Camry', Decimal('18999.99')), (2020, 'Honda', 'Civic', Decimal('20999.50')), (2019, 'Ford', 'Mustang', Decimal('25999.75')), (2021, 'Chevrolet', 'Malibu', Decimal('23499.95')), (2017, 'Nissan', 'Altima', Decimal('17999.99')), (2016, 'Hyundai', 'Elantra', Decimal('14999.99')), (2022, 'Kia', 'Sorento', Decimal('28999.95')), (2015, 'BMW', '3 Series', Decimal('25999.00')), (2019, 'Audi', 'A4', Decimal('27999.90')), (2021, 'Mercedes-Benz', 'C-Class', Decimal('36999.99')), (2018, 'Subaru', 'Outback', Decimal('21999.50')), (2020, 'Jeep', 'Wrangler', Decimal('31999.75')), (2017, 'Mazda', 'CX-5', Decimal('18999.50')), (2019, 'Volkswagen', 'Passat', Decimal('23999.95')), (2016, 'Dodge', 'Charger', Decimal('16999.95')), (2018, 'Lexus', 'RX 350', Decimal('33999.50')), (2015, 'Chevrolet', 'Equinox', Decimal('15999.75')), (2021, 'Tesla', 'Model 3', Decimal('44999.99')), (2019, 'Ford', 'F-150', Decimal('28999.90')), (2022, 'Honda', 'Accord', Decimal('32999.99'))]
Sure! Here are the vehicles Sophia Martinez can consider buying:

1. 2018 Toyota Camry - $18,999.99
2. 2020 Honda Civic - $20,999.50
3. 2019 Ford Mustang - $25,999.75
4. 2021 Chevrolet Malibu - $23,499.95
5. 2017 Nissan Altima - $17,999.99
6. 2016 Hyundai Elantra - $14,999.99
7. 2018 Subaru Outback - $21,999.50
8. 2019 Volkswagen Passat - $23,999.95
9. 2016 Dodge Charger - $16,999.95
10. 2015 Chevrolet Equinox - $15,999.75
11. 2017 Mazda CX-5 - $18,999.50

Happy car shopping!
Which vehicle has the highest price in the inventory?


SELECT v.year, v.make, v.model
FROM Vehicle v
INNER JOIN Inventory i ON v.vehicle_id = i.inventory_id
WHERE i.status != 'For Sale'
ORDER BY v.price DESC
LIMIT 1;

[(2024, 'Chevy', 'Corvette')]
The highest-priced vehicle in the inventory is the 2024 Chevy Corvette.
Which customers can purchase a Tesla Model 3?


SELECT c.first_name, c.last_name, c.email, c.phone
FROM Customer c
JOIN Vehicle v ON c.purchase_power >= v.price
WHERE v.make = 'Tesla' AND v.model = 'Model 3';

[('Jane', 'Smith', 'jane.smith@example.com', '555-234-5678'), ('Michael', 'Johnson', 'michael.johnson@example.com', '555-345-6789'), ('Sophia', 'Martinez', 'sophia.martinez@example.com', '555-678-9012'), ('David', 'Hernandez', 'david.hernandez@example.com', '555-789-0123'), ('Olivia', 'Lopez', 'olivia.lopez@example.com', '555-890-1234'), ('Isabella', 'Taylor', 'isabella.taylor@example.com', '555-012-3456')]
The customers who can purchase a Tesla Model 3 are: Jane Smith, Michael Johnson, Sophia Martinez, David Hernandez, Olivia Lopez, and Isabella Taylor.
Done!

In [ ]:
#I want to create a schema picture using SchemaCrawler. Can you help me with that?